[Unit]
Description=Kibana {{ kibana_major_version }}

[Service]
Type=simple
User=kibana
Environment=CONFIG_PATH={{ kibana_dir }}/kibana-{{ kibana_minor_version }}-linux-x64/config/kibana.yml
Environment=NODE_ENV=production
ExecStart={{ kibana_dir }}/kibana-{{ kibana_minor_version }}-linux-x64/bin/kibana

[Install]
WantedBy=multi-user.target
